<form *ngIf="extraUser" name="deleteForm" (ngSubmit)="confirmDelete(extraUser.id!)">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="extraUserDeleteDialogHeading" shopTranslate="entity.delete.title">Confirm delete operation</h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <shop-alert-error></shop-alert-error>
    <p id="shop-delete-extraUser-heading" shopTranslate="gatewayApp.extraUser.delete.question" [translateValues]="{ id: extraUser.id }">
      Are you sure you want to delete Extra User {{ extraUser.id }}?
    </p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span shopTranslate="entity.action.cancel">Cancel</span>
    </button>

    <button id="shop-confirm-delete-extraUser" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
      <fa-icon icon="times"></fa-icon>&nbsp;<span shopTranslate="entity.action.delete">Delete</span>
    </button>
  </div>
</form>
