<div>
  <h2 id="page-heading" data-cy="ExtraUserHeading">
    <span shopTranslate="gatewayApp.extraUser.home.title">Extra Users</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span shopTranslate="gatewayApp.extraUser.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-extra-user"
        [routerLink]="['/extra-user/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span shopTranslate="gatewayApp.extraUser.home.createLabel"> Create a new Extra User </span>
      </button>
    </div>
  </h2>

  <shop-alert-error></shop-alert-error>

  <shop-alert></shop-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="extraUsers?.length === 0">
    <span shopTranslate="gatewayApp.extraUser.home.notFound">No Extra Users found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="extraUsers && extraUsers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr shopSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" shopSortBy="id">
            <div class="d-flex">
              <span shopTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" shopSortBy="shopId">
            <div class="d-flex">
              <span shopTranslate="gatewayApp.extraUser.shopId">Shop Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" shopSortBy="fullName">
            <div class="d-flex">
              <span shopTranslate="gatewayApp.extraUser.fullName">Full Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" shopSortBy="phone">
            <div class="d-flex">
              <span shopTranslate="gatewayApp.extraUser.phone">Phone</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" shopSortBy="address">
            <div class="d-flex">
              <span shopTranslate="gatewayApp.extraUser.address">Address</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" shopSortBy="point">
            <div class="d-flex">
              <span shopTranslate="gatewayApp.extraUser.point">Point</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" shopSortBy="createdBy">
            <div class="d-flex">
              <span shopTranslate="gatewayApp.extraUser.createdBy">Created By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" shopSortBy="createdDate">
            <div class="d-flex">
              <span shopTranslate="gatewayApp.extraUser.createdDate">Created Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" shopSortBy="lastModifiedBy">
            <div class="d-flex">
              <span shopTranslate="gatewayApp.extraUser.lastModifiedBy">Last Modified By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" shopSortBy="lastModifiedDate">
            <div class="d-flex">
              <span shopTranslate="gatewayApp.extraUser.lastModifiedDate">Last Modified Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" shopSortBy="internalUser.id">
            <div class="d-flex">
              <span shopTranslate="gatewayApp.extraUser.internalUser">Internal User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let extraUser of extraUsers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/extra-user', extraUser.id, 'view']">{{ extraUser.id }}</a>
          </td>
          <td>{{ extraUser.shopId }}</td>
          <td>{{ extraUser.fullName }}</td>
          <td>{{ extraUser.phone }}</td>
          <td>{{ extraUser.address }}</td>
          <td>{{ extraUser.point }}</td>
          <td>{{ extraUser.createdBy }}</td>
          <td>{{ extraUser.createdDate | formatMediumDatetime }}</td>
          <td>{{ extraUser.lastModifiedBy }}</td>
          <td>{{ extraUser.lastModifiedDate | formatMediumDatetime }}</td>
          <td>
            {{ extraUser.internalUser?.id }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/extra-user', extraUser.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" shopTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/extra-user', extraUser.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" shopTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(extraUser)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" shopTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
